{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="projects">
    <h2 class="title">Projects and Competitions</h2>
    {% for p in projects %}
        <div class="project">
            <div class="project-title">
                {% if p.link is defined %}
                    <a class="project-link" href="{{p.link}}">
                        {{p.title}}
                    </a>
                {% else %}
                    {{p.title}}
                {% endif %}
                {% comment %} {{p.title}} {% endcomment %}
                <span class="time">{{p.time}}</span>
            </div>
            {% comment %} <a class="project-link" href="{{p.link}}">
                {{p.title}}
            </a> {% endcomment %}
            <div class="details">{{p.details}}</div>    
        </div>
    {% endfor %}
</section>
{% endif %}