{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="projects">
    <h2 class="title">Projects and Competitions</h2>
    {% for p in projects %}
        <div class="project">
            {% if p.link %}
                <div class="project-title">
                    <a class="project-link" href="{{p.link}}">
                        {{p.title}}
                    </a>
                </div>
            {% else %}
                <div>{{p.title}}</div>
            {% endif %}
            <span class="time">{{p.time}}</span>
            <div class="details">{{p.details}}</div>    
        </div>
    {% endfor %}
</section>
{% endif %}