.projects {
    .title {
        @include header;
    }
    .project {
        margin-bottom: 20px;
        .project-title {
            @include body-text;
            // color: black;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: bold;
            // .link {
            //     color: black;
            // }
            .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: 100;
                margin-left: 20px;
            }
        }
        .details {
            @include body-text;
        }
    }
}