.publications {
    .title {
        @include header;
    }
    .publication-items {
        .publication-item {
            margin-bottom: 20px;
            .title {
                @include sub-header; 
                // font-weight: bold;
                // text-decoration: none;
            }
            .authors {
                @include body-text; 
            }
            .conference {
                @include body-text; 
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
    }
}